.config/procps
.bash_history
.bash_logout
.cache
.git
.gitconfig
.gitignore
.landscape
.lesshst
.local
.motd_shown
.npm
.oh-my-zsh
.p10k.zsh
.profile
.skip-cloud-init-warning
.ssh
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump
.zcompdump-roy-pc-5.9
.zcompdump-roy-pc-5.9.zwc
.zsh_history
LICENSE
workspace
